.containerGuy {
    width: 100%;
    height: 80px;
    position: relative;
  }
  
  .LogoBar {
    background-color : rgb(0, 0, 0);
    height: 80px;
    width: 80px;
    position: relative;
    left: 1443px;
    color: blanchedalmond;
    text-align: center;
    text-emphasis: Bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 1;
  }
  
  .NavBar {
    background-color : rgb(255, 255, 255);
    height: 80px;
    width: 100%;
    border-bottom: 8px, black;
    box-shadow: 8px, black;
    position: fixed;
    z-index: 2;
  }

  .BodyContain {
    height: 800px;
    background-color: gray;
  }

  .Box1 {
      width: 200px;
      height: 200px;
      margin: 20px;
      background-color: white;
      position: absolute;
  }

  .Box2 {
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: white;
    left: 1270px;
    bottom: 390px;
    position: absolute;
}

.Box3 {
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: white;
    left: 1270px;
    top: 650px;
    position: absolute;
}

.Box4 {
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: white;
    right: 1270px;
    top: 650px;
    position: absolute;
}

.foot {
    width: 100%;
    height: 80px;
    background-color: white;
    border-top: 2px, black;
    border: black;

}

.copyright {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}